.filters {
  background-color: #f8f8f8;
  border: solid #e7e7e7;
  border-radius: 5px;
  border-width: 1px;
  height: 80%;
  margin: -15 auto;
  overflow: visible;
  position: fixed;
}

.filter-buttons {
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
}

.filter-buttons ul,
.filter-buttons li {
  list-style: none;
  padding: 5px;
}

.filters-horizontal {
  display: none;
}

.filters-vertical {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {

  .filters {
    background-color: #f8f8f8;
    border: solid #e7e7e7;
    border-radius: 5px;
    border-width: 1px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;;
    overflow: auto;
  }

  .filter-buttons {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .filters-horizontal {
    display: inline-block;;
    height: 50px;
  }

  .filters-vertical {
    display: none;
  }

}


@media only screen and (max-width: 767px) {

  .filters {
    background-color: #f8f8f8;
    border: solid #e7e7e7;
    border-radius: 5px;
    border-width: 1px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
  }

  .filter-buttons {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .filters-horizontal {
    display: inline-block;;
    height: 50px;
  }

  .filters-vertical {
    display: none;
  }
}
